* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.productList-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem 2rem;
  padding: 3rem;
}